include ../../abstract/breadcrumb
include ../../abstract/form
include ../../abstract/button

- const bread = {active:'Đăng ký',list:['Trang chủ','Đăng ký']};
- const fieldsInfo = [{id:'name',label:'Tên trước *',type:'text'},{id:'name-af',label:'Tên sau *',type:'text'},{id:'email',label:'Email *',type:'email'},{id:'password',label:'Password *',type:'password'}];
- const fieldsPassword = [{id:'password',label:'Mật khẩu *',type:'password'},{id:'cfpassword',label:'Xác nhận mật khẩu *',type:'cfpassword'}];

+breadcrumb(bread) 

.container-fluid.my-3 
  .container 
    .row.gx-5 
      .col-lg-10 
        h2.signup__title ĐĂNG KÝ
        img.img-fluid(src="../../../../assets/titleleft-dark.png", alt="Rượu vang champange")
      .col-lg-2.login__btn
        +button({text: 'Đăng nhập', class: 'form__btn'})
      .col-lg-12.my-3
        .form__container 
          h3.form__title THÔNG TIN CÁ NHÂN
          +form(fieldsInfo)
          .row.gx-0.form--control
            .col-lg-2.gx-0             
            .col-lg-10.gx-0
              input(type="radio", id="radio", disabled)
              label(for="radio").signup__radio Đăng ký nhận bản tin
          h3.form__title THÔNG TIN ĐĂNG NHẬP
          +form(fieldsPassword)
          .row.gx-0.form--control.signup__btn       
            +button({text: 'GỬI', class: 'form__btn'})
            +button({text: 'QUAY LẠI', class: 'form__btn'})
          

