:root {
    --color-primary: #e6ae48;
    --color-white: #fff;
    --color-product: #1a1a1a;
    --color-topbar: #d6d6d6;
    --color-black: #000;
    --color-title-blog: #303030;
    --color-detail-review: #737373;
    --color-red: rgb(255, 28, 28);
    --color-border-pagination: #e6e6e6;
    --color-comment: #666666;
    --color-about: #303030;
    --color-pagination: #c1c1c1;
    --color-pagination-hover: #f26522;
    --shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.75);
    --color-title-desc: #a7a7a7;
    --color-footer-link: #818181;
    --color-dropdown: #050505;
    --color-gray: #b4b4b4;
    --color-product: #050505;
    --btn-product: 12px 24px;
    --bg-light: rgba(0, 0, 0, 0.35);
    --bg-color: #fff;
    --section-spacing: 120px;
}
