extends ../../base/layout

block customHead 
    link(rel="stylesheet", href="../sass/main.css")

block content
    include ../../layout/topbar
    include ../../layout/header
    include ../../layout/navigation


