.container-fluid 
    .error 
        .error__img 
            img(src='../../../../assets/1-rm.png', alt="ruou vang wine house").img-fluid
        h3.error--big Lỗi
        p.error__text
            span Đây không phải là
            span trang web bạn đang tìm kiếm 
        h2.error__404 404
