include ../../abstract/mixins

- let blog = { title: "Vang thăng long classic", img: "../../../../assets/gallery-2.jpg", author: "Giang", time: "30/12/2015", num: 60, desc: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long" };
section.section__info.container-fluid 
  |
  .container 
    |
    .row.gx-5
      .col-lg-8.col-md-12
        +sectionHeading('Tin tức & Blog')
        .row.my-5
          .col-lg-6
            +blogItem(blog)
          .col-lg-6
            +blogItem(blog)
      .col-lg-4.col-md-12
        +sectionHeading('Khách hàng')
        .my-5.info__container 
          |
          span.info__quote
            i.bx.bxs-quote-alt-left
          p.info__desc Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.
          .info__author 
            |
            .info__author__avatar
            p.info__author__name GIANG
            p.info__author__job Graphic Designer
          .info__dots 
            |
            span
            span
            span
