extends ../../layout/layout

block customHead
  title Trang chu 
  
block content
  include ../../components/topbar
  include ../../components/header
  include ../../components/navigation

  include ./main




