extends ../../base/layout

block customHead 
    link(rel="stylesheet", href="../sass/main.css")

block content
    include ../../layout/topbar
    include ../../layout/header
    include ../../layout/navigation
    
    include ../../components/home/introduction
    include ../../components/home/special-product
    include ../../components/home/news-product
    include ../../components/home/gallery
    include ../../components/home/hot-product
    include ../../components/home/home-info

