.intro {
    &__heading {
        text-align: center;
        p {
            margin-top: 20px;
            padding: 0 55px;
        }
    }
    &__title {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
    }
    &__btn {
        background-color: var(--color-black);
        color: var(--color-white);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        border: none;
        outline: none;
        border-radius: 1px;
        transition: all 0.2s;
        padding: 5px 20px;
    }
    &__btn:hover {
        background-color: var(--color-primary);
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 300px;
        height: 300px;
    }
}
