.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color-black);

    &__container {
        justify-content: space-between;
    }
    &__title {
        text-align: center;
        color: var(--color-primary);
        font-family: 'Dancing Script', cursive;
        font-size: 29px;
        h4 {
            font-size: 16px;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        list-style: none;

        &--item {
            &:nth-child(2) {
                position: relative;
            }
            a {
                font-size: 13px;
                letter-spacing: 3px;
                text-align: right;
                color: var(--color-white);
                display: inline-block;
                &:hover {
                    color: var(--color-primary);
                }
            }

            &--active {
                color: var(--color-primary);
            }
        }
    }
    &__icon {
        color: var(--color-white);
        display: none;
    }
    &__toggle {
        display: none;
    }

    &__dropdown {
        position: absolute;
        z-index: 50;
        color: var(--color-dropdown);
        background-color: var(--color-white);
        border-bottom: 2px solid var(--color-primary);
        box-shadow: var(--shadow);
        top: calc(100% + 40px);
        padding: 10px 24px;
        left: -200%;
        font-size: 14px;
        line-height: 30px;
        color: var(--color-dropdown);
        &--container {
            display: none;
        }

        &--col {
            list-style-type: none;
        }
        &--link {
            white-space: nowrap;
            a {
                color: var(--color-dropdown);
            }
        }
        &--toggle {
            display: none;
        }
        &--img {
            width: 349px;
        }
        &--icon {
            font-size: 13px;
            letter-spacing: 3px;
            text-align: right;
            color: var(--color-white);
            position: relative;
            z-index: 200;
            display: inline-block;
            &:hover {
                color: var(--color-primary);
            }
        }
        &--toggle:checked + &--container {
            display: block;
        }
        &--toggle:checked + &--container > &--content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0 20px;
        }
    }
}
